.navbar-default{
	font-size: 23px;
	background-color: #f9690e;
	color: white;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.navbar-default .navbar-nav>.active>a{
	background-color: #FF8A42;
	color: white;
}
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #FF8A42;
	text-decoration: none;
	color:white;
}

.navbar-header{
	padding-top: 8px;
}

.nav-brand{
	color: white;
	padding-left: 10px;
}

.nav-brand img{
	margin-top: -5px;
}

.navbar-toggle{
	margin: 0px;
	margin-right: 10px;
}

.nav-brand:hover,
.nav-brand:active,
.nav-brand:visted{
	color: white !important;
	text-decoration: none !important;
}

a{
	text-decoration: none !important;
}

.navbar .nav > li > a{
	color: #ffffff;
	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.navbar .nav > li > a:hover{
	color: white;
	background-color: #9B3B00;

}

.nav-tabs>li>a{
	padding-right: 8px;
	padding-left: 8px;
}

.logo{
	color: white !important;
	text-decoration: none !important;
	
}

.content{
	color: #F9690E;
	padding-bottom: 50px;
	overflow: auto;
	min-height: 100%;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

.header{
	postion: relative;
	width: 100%;
	display: block;
	padding: 61px;
}

.small{
	font-size: 15px;
}

hr{
	position: relative;
	display:block;
	height: 1px;
	max-width: 600px;
	border: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFA46B;
	padding: 0;
}

hr1{
	display: block;
    height: 1px;
    max-width: 200px;
    border-top: 2px solid #FFA46B;
}

img{
	padding-right: 8px;
}

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

h1{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

h2{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

th{
	text-align: center;
}

td{
	text-align: center;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color:#F9690E;
}

a, a.active, a:hover{
	color:#F9690E;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #C54C01;
}
.btn-primary.raised:active, .btn-primary.raised.active {
	background: #F9690E;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	transition: all .1s linear;
}

.btn:active{
	transform: translateY(1px);
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #F9690E;
	color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #F9690E;
}
.btn-primary:active, .btn-primary.active {
	background: #C54C01;
	box-shadow: none;
}

.red{
	background-color: #EC644B;
	color: white;
}

.blue{
	background-color: #4183D7;
	color: white;
}

.green{
	background-color: #26A65B;
	color: white;
}

.pink{
	background-color: #FFB6C1;
	color: white;
}

.purple{
	background-color: #9B59B6;
	color: white;
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.icon-bar{
	background-color: white !important;
}

.footer{
	background-color: #f9690e;
	color: white;
	font-size: 14px;
	padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative;
    width: 100%;
	box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.16),0 -2px 10px 0 rgba(0,0,0,0.12)!important;
}

body{
	font-family: 'Open Sans', sans-serif;

}

html{
	position: relative;
}

html, body {
    height: 100%;
}

.redcircle{
	vertical-align: middle;
	position:absolute;
	display: inline;
    width: 14px;
    height: 14px;
    background-color: #EC644B;
    -moz-border-radius:  50%;
    -webkit-border-radius:  50%;
    border-radius:  50%;
	margin-top: 3px;
	margin-left: 10px;
}

.bluecircle{
	vertical-align: middle;
	position:absolute;
	display: inline;
    width: 14px;
    height: 14px;
    background: #4183D7;
    -moz-border-radius:  50%;
    -webkit-border-radius:  50%;
    border-radius: 50%;
	margin-top: 3px;
	margin-left: 10px;
}

.greencircle{
	vertical-align: middle;
	position:absolute;
	margin-left: 10px;
    width: 14px;
    height: 14px;
    background: #26A65B;
    -moz-border-radius:  50%;
    -webkit-border-radius:  50%;
    border-radius:  50%;
	margin-top: 3px;
}

.key{
	font-size: 11px;
	padding-left: 20px;
	padding-right: 5px;
	position:absolute;
	margin-left: 10px;
}

.frontpage{
	width: 100%;
	height: 100%;
	background-size: cover; 
	background-attachment: fixed;
	background-image: url(); 
	background-repeat: no-repeat; 
	text-shadow: 0px 0px 20px #000000;
	padding-bottom: 700px;
}